:root {
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;
    --secondary-color: #0b4ea2;
    --primary-color: rgb(39, 125, 43);
    --background-color: #ece9e9;
}

* {
    box-sizing: inherit;
    margin: 0;
}

html {
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

.header__nav,
.header__logo,
.header__login,
.content__slide_text {
    user-select: none;
    -webkit-user-select: none;
}
.img-title {
    display: block;
    width: 170px;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;
}
.titles {
    text-align: center;
    font-size: 3.5rem;
    line-height: 3.5rem;
    font-weight: 700;
    padding: 20px 0 60px 0;
}